body{
	background-color: #F4F6F7;
	font-family : "HelveticaNeue light", sans serif;
	font-size: 15px;
	margin : 0px;
}

.rubrique{
	
	font-family: "Source Sans Pro Light", sans serif;
	position : relative;
	color : #EA4921 ;
	font-size: 45px;
	text-transform: uppercase;
	width:fit-content;
	right:50%;
	left : 50%;
	transform : translate(-50%, 0%);

}
@font-face{
	font-family: "Source Sans Pro Light";
	src: url("SourceSansPro-Light.ttf");
}
@font-face{
	font-family: "HelveticaNeue light":
	src: url("HelveticaNeue-Light.ttf");
}

#premier_element {
	margin-top :145px;
}
