#style {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
h1 {
	color: red;
	margin: -40px;
	padding: 0 0 60px;
	text-align: center;
	font-size: 22px;
}
.oublier p{
	font-size:15px;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.oublier{
	width :320px;
	height: 380px;
	background: black;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.oublier input {
	width: 100%;
	margin-bottom: 20px;
}
.oublier input[type="mail"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.oublier input[type="submit"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.oublier input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color:#fff;
	font-size: 18px;
	border-radius: 20px;
}
.oublier a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.oublier a:hover {
	color : white;
}
#design{
    background: url("https://cdn.discordapp.com/attachments/782590273888583690/798468638003691520/22b7fdb19e016aaf32f073ad856ed7364920802d.jpg");
    height: 100vh;
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}